<div class="row-fluid">
  <div class="span3">
    <%= image_tag @membership.avatar.value, class: 'avatar img-circle' %>
    <p class="title">
      <%= @membership.title.value %>
    </p>
    <p class="department">
      Department: <%= link_to @membership.department.value, '#' %>
    </p>
  </div>
  <div class="span9">
    <h2><%= @membership.user.display %></h2>
    <hr />
    <p class="bio"><%= @membership.bio.value %></p>
    <hr />
  </div>
</div>


