<h1>Edit {{login}}</h1>
<form>
  <fieldset>
    <div>
      <label {{bindAttr for="loginField.elementId"}}>Login</label>
      {{view Ember.TextField valueBinding='login' name='login' viewName='loginField'}}
    </div>
    <div>
      <label {{bindAttr for='fullNameField.elementId'}}>Full Name</label>
      {{view Ember.TextField valueBinding='fullName' name='last_name' viewName='fullNameField'}}
    </div>
    <a href='#' {{action save}} class='btn btn-success'>Update</a>
    <a href='#' {{action 'destroy'}} class='btn btn-danger'>Destroy</a>
  </fieldset>
</form>
<div class='page-header'></div>

<a href='#' {{action cancel}} class='btn btn-inverse'>Cancel</a>
