<!DOCTYPE html>
<html>
<head>
  <title>Dossier</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= google_webfonts_init({ 
    google: [ 
      'Open Sans',
      'Droid Serif',
    ]
  }) %>
</head>
<body>
<div class="container-narrow">
  <% if params[:controller] == 'home' %>
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.display, user_home_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
      <h3 class="muted">Dossier</h3>
    </div>

    <hr>
  <% else %>
    <%= link_to image_tag('dossier-logo-orange-box.svg', class: 'logo'), communities_path %>
  <% end %>

  <%= bootstrap_flash %>
  <%= yield %>

  <hr>

  <div class="footer">
    <%= link_to image_tag('dossier-logo-light-gray.svg', class: 'footer-logo'), communities_path %>
  </div>

  <a href="https://github.com/phinze/dossier"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</div>
</body>
</html>
